
<body>   
<div class="word">
   <div class="qoutes"> <p>"When one chooses to walk the Way of the Mandalore, you are both hunter and prey. 
       How can one be a coward if one chooses this way of life?"</p>
       <p>―A Mandalorian armorer</p>
</div>
<p>
The Mandalorians were a clan-based cultural group that was composed of members from multiple species all bound by a common creed,
 language and code. They originated on the desert planet of Mandalore in the galaxy's Outer Rim Territories and had a particularly
  important role in galactic history as legendary warriors against the Jedi. From their homeworld, Mandalorians had flourished across
   Mandalorian Space and the galaxy at large, colonizing worlds such as Kalevala, Krownest, and Concord Dawn.
</p>
<p>
Mandalore had a largely martial history, but since the Mandalorian Civil War, pacifist sentiment had begun to emerge, and by the
 time of the Clone Wars, the Mandalorians had been reformed under the New Mandalorian regime led by Duchess Satine Kryze of House
  Kryze while the Old Mandalorians scattered across the galaxy as mercenaries. Under the New Mandalorian government, Mandalore 
  remained neutral and participated in the Council of Neutral Systems as a leading member. Despite enjoying decades of peace, 
  conflict persisted between the New Mandalorian government and factions such as Death Watch, a group of exiled Mandalorian 
  warriors who wanted Mandalore to return to the traditional warlike ways of the past. Such conflict led to another civil war 
  by 19 BBY that toppled the ruling New Mandalorian regime and restored the old Mandalorians, but the conflict culminated in 
  the occupation of Mandalore by the Galactic Republic and its subsequent government, the Galactic Empire.
</p>
<p>
Following the rise of the Empire, Bo-Katan Kryze was made Regent of Mandalore, but she refused to follow Emperor Sheev Palpatine. 
As a result, she was replaced with Gar Saxon, a Death Watch Mandalorian super commando, who was installed as Viceroy over 
Mandalore, his rule enforced by the Imperial Super Commandos. As with many worlds in the galaxy, Mandalore was oppressed under 
Imperial rule, with weapons such as the Arc Pulse Generator being developed to pacify and reign in the war-like civilization. 
Clan Saxon eventually came into conflict with Clan Kryze, Clan Wren, and the former leader of the Mandalorian Protectors 
Fenn Rau. After the deaths of Gar Saxon and his brother and successor, Governor Tiber Saxon, and with the support of the early 
Rebellion, Bo-Katan Kryze claimed the Darksaber and took the title Mand'alor. Kryze united the Mandalorian resistance as 
another civil war erupted on Mandalore, a part of the galaxy-wide struggle against Imperial rule.
</p>
<p>
After the fall of the Empire and the rise of the New Republic, and following the Empire's Great Purge of the Mandalorians, 
some Mandalorians went into hiding. One such group was called "the Tribe," who hid in a covert on the planet Nevarro. However, 
the Tribe were forced to relocate after revealing themselves to protect one of their own. The Tribe was eventually wiped
 out by an Imperial remnant, but some of its members survived.
</p>
</div>
</body>