
<body>  
    <div class="word"> 
    <div class="qoutes"> <p>"I deal in people. Dead, captured, or detained."</p>
        <p>―Boba Fett</p>
    </div>
    <p>
        A bounty hunter was an individual who could be hired to capture, hunt or eliminate a designated target if 
        such target had a price or bounty on their heads that could be collected by the bounty hunter, either 
        capturing or killing the target, depending on their clients' wishes. For the right price, most bounty hunters had no morals 
        and did everything for the money. Aside from the highest bidder, bounty hunters were only loyal to themselves.
    </p>
    <p>
        Some bounty hunters acted like mercenaries and were hired to do jobs other than tracking down bounties. 
        Hutts often kept these mercenary hunters on retainer so as to have more experienced and capable bodyguards 
        protecting them; Jabba the Hutt was one such Hutt who kept several 
        renowned hunters with him or within Hutt palaces throughout the Clone Wars and the Galactic Civil War.
    </p>
    <p>
        ndependent-minded droids could also act as bounty hunters, to the dismay of the organic bounty hunting 
        professional known as "the Mandalorian," who simply referred to one, the assassin droid IG-11, 
        a "bounty droid." In cases such as the Haxion Brood Bounty Droid, 
        droids could be reprogrammed to assist hunters in their work.
    </p>
    </div>
</body>