<body class="background">
  <header class="header">
  <h1 class="logo"><a>The Mandalorian</a></h1>
    <ul class="main-nav">
      
        <a class="nav-link" routerLink="/" routerLinkActive="active" >
          Home
        </a>
        <a class="nav-link" aria-current="page" routerLink="partner" routerLikeActive="active">
          Partners
        </a>
        <a class="nav-link" aria-current="page" routerLink="service" routerLikeActive="active">
          Services
        </a>
        <a class="nav-link" aria-current="page" routerLink="about-us" routerLikeActive="active">
          About Us
        </a>
    </ul>
  </header>
  <h1></h1> 
    <div class="img1">
      <img style="width:100%;height:auto;transform-origin: left; border-radius: 5px; transform-origin: center;" class="img-responsive " src="../assets/image/1.jpg">
    </div>
  <router-outlet></router-outlet>
</body>



