
<body>   
    <div class="word">
       <div class="qoutes"> <p>"Moff Gideon. You have something I want. You may think you have some idea what you're in possession of, 
           but you do not. Soon, he will be back with me. He means more to me than you will ever know."</p>
           <p>―Din Djarin on his foundling, Grogu</p>
    </div>
    <p>
        Din Djarin, also known as "the Mandalorian" or simply "Mando," was a human male Mandalorian who worked 
        as a famous bounty hunter during the New Republic Era. With his Mandalorian armor, IB-94 blaster pistol, 
        Amban sniper rifle, and distinctive beskar helmet, Djarin was both well-equipped and enigmatic—a stranger
         whose past was shrouded in mystery to others. Orphaned during the Republic Era, he was raised as a foundling
        by the Children of the Watch, a group that had broken off from mainstream Mandalorian society. Djarin was not
        aware of this and believed that all Mandalorians followed the Children of the Watch's beliefs. He was 
        trained to become a Mandalorian warrior and eventually joined the Tribe, which operated in a secret 
        covert on Nevarro and was affiliated with the Children of the Watch.
        Djarin became battle-hardened, a man of few words, and a formidable hunter in an increasingly dangerous galaxy.
    </p>
    <p>
        After the fall of the Galactic Empire, Djarin made a reputation for himself as a member of the Bounty Hunters'
        Guild, collecting bounties as he traveled across the galaxy's Outer Rim Territories—far from the authority
        of the New Republic—in his personal ST-70 Assault Ship, the Razor Crest. Around 9 ABY, Djarin was hired on
        Nevarro by a client of an Imperial remnant faction, who offered a substantial reward for the acquisition of 
        an asset located on the world Arvala-7. During his mission on Arvala-7, he met an Ugnaught named Kuiil, 
        who guided him to the location of the asset, and encountered a bounty hunter droid, IG-11. Upon seeing 
        the asset itself, Djarin and IG-11 discovered that it was in fact a Force-sensitive child. Unbeknownst 
        to Djarin, the child was a former Jedi youngling named Grogu, and belonged to the same species as Jedi Grand Master Yoda.
        Tasked with bringing Grogu in alive, Djarin shot IG-11 in the head, saving the infant and taking him into his custody.
    </p>
    <p>
        Discovering Grogu's Force-sensitivity during his time on Arvala-7, Djarin then took Grogu back to the Client and collected
        his reward. However, the Mandalorian warrior had already begun to form a bond with the infant. Feeling remorseful for 
        subjecting Grogu to a cruel fate, Djarin entered the facility where Grogu was kept and rescued him from the Imperials 
        stationed there, and later fended off Guild hunters with the help of the Mandalorian Tribe. The two would go on to 
        embark on various adventures around the galaxy as they formed a close bond, including an 
        encounter with former rebel shock trooper Carasynthia Dune, a job on Tatooine, and a run-in with a group of mercenaries.
    </p>
    <p>
        Djarin was later contacted by the Guild's agent, Greef Karga, who wished to make amends for his actions during Grogu's
        rescue. The Guild agent offered to work with the Mandalorian to drive away the Imperials, who took control over 
        Nevarro's city, in exchange for dropping the bounty on the Child. Djarin then gathered his allies—Dune, Kuiil, 
        and a re-programmed IG-11—and met with Karga on Nevarro. Djarin and his allies entered the city and fought the 
        Imperials led by Moff Gideon, later retreating to the Tribe's covert after facing heavy opposition. The Mandalorian 
        known as "the Armorer," who had remained in the hideout after the covert's attempted relocation, tasked Djarin with
        returning Grogu to his people, and declared the creation of his clan. After dealing with Gideon and his remaining Imperials, 
        Djarin departed the planet with the infant and began his search for Grogu's people.
    </p>
    <p>
        As Djarin and Grogu wandered the galaxy, they went on many missions together, such as a run-in with the Marshal of 
        Mos Pelgo, Cobb Vanth, a meeting with another group of Mandalorians, and another mission with Cara Dune and Greef 
        Karga on Nevarro. Eventually, the pair made it to Corvus, where they encountered a former Jedi named Ahsoka Tano, 
        who was able to communicate with Grogu through the Force, revealing the child's name and history to the Mandalorian. 
        After Djarin assisted Tano with liberating the city of Calodan from an Imperial magistrate named Morgan Elsbeth, 
        Tano gifted Elsbeth's beskar spear to Djarin and directed him to Tython, a planet where Grogu could reach out to any 
        other Jedi willing to train him. On Tython, as Grogu was attempting to reach a Jedi, Djarin met Boba Fett, the son of 
        another Mandalorian, who wanted his armor back in exchange for not harming the Child. 
        However, before Djarin could give Fett the armor, Gideon's Imperial remnant attacked and captured Grogu.
    </p>
    <p>
        After receiving his armor, Fett agreed to help Djarin rescue Grogu, and, with the help of Cara Dune, 
        Migs Mayfeld, and Fennec Shand, locate Gideon's light cruiser. Djarin, alongside the Nite Owls, Dune, 
        and Shand, stormed the cruiser and managed to locate the Child. In the process, though, Djarin unintentionally 
        became a potential heir to the title of Mand'alor after defeating Gideon in combat and claiming the Darksaber. 
        However, as the team attempted to escape, they were cornered by a platoon of dark troopers before being rescued 
        by Luke Skywalker, the Jedi that Grogu had reached out to. When the dark troopers were finally destroyed, 
        Skywalker left the ship with Grogu, 
        but not before Djarin said his goodbyes to the youngling and promised they would see each other again.
    </p>
    <p>
    
    </p>
    </div>
    </body>