
<body>   
    <div class="word">
        <div class="qoutes"> <p>"Take some advice, kid. You want to be a bounty hunter? Make the best deal for yourself, and survive."</p>
            <p>―Fennec Shand to Toro Calican</p>
     </div>
     <p>
         Bounty hunters were individuals who could be hired to capture or kill a designated target. The target would have 
         a price or bounty on their heads that would be collected by the bounty hunter upon successful capture or proof of death. 
         Bounty hunters would sometimes team together as part of a larger mission or to handle dangerous targets.
     </p>
     </div>
</body>
